body {
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #d2d2d2;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 0px 0;
    background-color: #fff;
    border: 1px solid #000000;
}

th,
td {
    padding: 10px;
    text-align: left;
}

tbody tr:nth-child(odd) {
    background-color: #d2d2d2;
    color: #000000;
}

tbody tr:nth-child(even) {
    background-color: #fff;
    color: #000;
}

.pagination {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border: 0px;
    background-color: transparent;
    font-weight: bold;
}

#next {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

.coins {
    max-width: 90%;
    border: .5px solid #000;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #9b9b9b;
    background-color: #fff;
}


@media (max-width: 600px) {
    #coin-table-container {
        display: block;
    }

    table {
        display: block;
        overflow-x: auto;
    }

    th,
    thead {
        display: none;
    }

    tr {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 15px;
    }

    td {
        display: flex;
        flex-direction: column;
        border: none;
        width: 40%;
        padding: 5px 10px;
    }

    td:before {
        content: attr(data-label);
        font-weight: bold;
        margin-right: 10px;
    }
}